



<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" 
    class="stripe-button"
    data-key="pk_test_FFgYcRzrhq5j6SFVCoMXSFsx00Xe6YUbfa"
    data-amount="200"
    data-name="LP"
    data-description="Widget"
    data-image="/img/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>